<div class="contenedor d-flex justify-content-center p-4">
        <div class="h-100 w-75 shadow" style="background: rgb(255, 255, 255);">
            <div class="header w-100 d-flex bg-info" style=" height: 120px;">
                <div class="cont-image rounded-circle mt-5 bg-info">
                    <img src="../../../../../assets/icon/task.png" alt="">
                </div>
                <span class="text-white task ml-3 h4">{{ service.selectedTask.title }}</span>
            </div>
            <br><br>
            <div class="body">
                <div class="row h-100">
                    <div class="col-md-5 border-right h-100">
                        <div class="p-2 pl-4">
                            <div class="">
                                <p><strong>Tarea:</strong></p>
                                <p>{{ service.selectedTask.title }}</p>
                            </div>
                            <div class="">
                                <p><strong>Descripcion:</strong></p>
                                <p>{{ service.selectedTask.description }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-m-7 h-100">
                        <div class="p-2 pl-4">
                            <div class="">
                                <p><strong>Departamento:</strong></p>
                                <p>{{ nameDepartment }}</p>
                            </div>
                            <div class="">
                                <p><strong>Encargado:</strong></p>
                                <p>{{ assigned }}</p>
                            </div>
                            <div class="">
                                <p><strong>Fecha:</strong></p>
                                <p>{{ service.selectedTask.changeDate }}</p>
                            </div>
                            <div class="">
                                <p><strong>Plazo:</strong></p>
                                <p>{{ service.selectedTask.term }}</p>
                            </div>
                            <div class="">
                                    <p><strong>Estado:</strong></p>
                                    <p>{{ service.selectedTask.stateTask }}</p>
                                </div>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
