<div class="contenedor">
    <div class="side-panel">
        <div class="p-3 search-content">
                <h2 class="text-white">Chats</h2>
            <div class="form-group">
                <input type="text" id="search" class="form-control" placeholder="Buscar contacto...">
            </div>
        </div>
        <div class="contacts">
            <ul>
                <li class="contact" *ngFor="let user of Employees | async">
                    <button class="btn bg-transparent wrap text-white" (click)="StartConversation(user._id)">
                        <img src="../../../../assets/img/foto-default.png" width="45" height="45" alt="">
                        <div class="meta">
                            <p class="name">{{user.name}} {{user.lastName}}</p>
                        </div>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="conversation" *ngIf="this.showChat | async">
        <div class="contact-profile shadow-sm">
            <img src="../../../../assets/img/foto-default.png" width="40" height="40" alt="">
            <p>{{Chat.DisplayName}}</p>
        </div>
        <div class="messages1" id="scroll">
            <ul>
                <li [ngClass]="{'sent': item.user !== this.User._id, 'replies': item.user === this.User._id}" *ngFor="let item of Messages | async">
                    <img src="../../../../assets/img/foto-default.png" width="30" height="30" alt="">
                    <p>{{item.message}}</p>
                </li>
                <li class="replies">
                    <div id="typing" class="text-info mb-0 ml-1"></div>
                </li>
            </ul>
        </div>
        <div class="message-input">
            <div class="wrap">
                <input type="text" placeholder="Escribe un mensaje..." id="Message"
                style="resize: none;" (input)="OnChange($event)" (keypress)="onKeyPress($event)">
                <button class="submit">
                    <i class="fas fa-paper-plane" [hidden]="(LoadingMessage | async)"></i>
                    <div class="spinner-border text-primary" role="status" [hidden]="!(LoadingMessage | async)">
                            <span class="sr-only">Loading...</span>
                        </div>
                </button>
            </div>
        </div>
    </div>

</div>
