.contenedor{
    width: 100%;
    height: calc(100vh - 56px);
}

.side-panel{
    float: left;
    width: 30%;
    height: 100%;
    background: #2C3E50;
    color: #fff;
    overflow: hidden;
    position: relative;
}

.side-panel .search-content .form-group input{
    background: #32465A;
    border: none;
    color: #fff;
    box-shadow: none;
}

.side-panel .contacts{
    height: calc(100% - 128px);
    overflow-y: scroll;
    overflow-x: hidden;
}

.side-panel .contacts::-webkit-scrollbar{
    width: 8px;
    background: #2C3E50;
}

.side-panel .contacts::-webkit-scrollbar-thumb{
    background: #243140;
}

.side-panel .contacts ul{
    list-style: none;
    padding: 0;
}

.side-panel .contacts ul li.contact{
    position: relative;
    padding: 10px 0 10px 0;
    font-size: 15px;
    cursor: pointer;
}

.side-panel .contacts ul li.contact:hover{
    background: #32465A;
}

.side-panel .contacts ul li.contact .wrap{
    position: relative;
    width: 88%;
    margin: 0 auto;
}

.side-panel .contacts ul li.contact .wrap img{
    border-radius: 50%;
    float: left;
    margin-right: 15px;
}

.side-panel .contacts ul li.contact .wrap .meta{
    padding: 5px 0 0 0;
}

.side-panel .contacts ul li.contact .wrap .meta .name{
    font-weight: 500;
    line-height: 40px;
    margin: 0;
}

.conversation{
    float: right;
    width: 70%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.conversation .contact-profile{
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #fff;
}

.conversation .contact-profile img{
    border-radius: 50%;
    float: left;
    margin: 9px 12px 0 9px;
}

.conversation .contact-profile p{
    margin: 0;
    float: left;

}

.conversation .messages1{
    /* height: auto; */
    min-height: calc(100% - 108px);
    max-height: calc(100% - 108px);
    overflow-x: hidden;
    overflow-y: scroll;
    background: #E6EAEA;
    width: 100%;
}

.conversation .messages1::-webkit-scrollbar{
    width: 8px;
    background: transparent;
}

.conversation .messages1::-webkit-scrollbar-thumb{
    background: rgba(0, 0, 0, 0.3);
}

.conversation .messages1 ul{
    list-style: none;
    padding: 0;
}

.conversation .messages1 ul li{
    display: inline-block;
    clear: both;
    margin: 15px 15px 5px 15px;
    width: calc(100% - 25px);
    font-size: 0.9em;
}

.conversation .messages1 ul li:nth-last-child(1){
    margin-bottom: 20px;
}

.conversation .messages1 ul li.sent img{
    margin: 6px 8px 0 0;
}

.conversation .messages1 ul li.sent p{
    background: #435F7A;
    color: #fff;
}

.conversation .messages1 ul li.replies img{
    float: right;
    margin: 6px 8px 0 0;
    margin-left: 6px;
}

.conversation .messages1 ul li.replies p{
    background: #fff;
    float: right;
}

.conversation .messages1 ul li img{
    border-radius: 50%;
    float: left;
}

.conversation .messages1 ul li p{
    display: inline-block;
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 300px;
    line-height: 130%;
}

.conversation .message-input{
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 99;
}

.conversation .message-input .wrap{
    position: relative;
}

.conversation .message-input .wrap input{
    font-family: sans-serif;
    float: left;
    border: none;
    width: calc(100% - 50px);
    height: 100%;
    padding: 11px 32px 10px 8px;
    font-size: 1em;
    color: #32465A;
}

.conversation .message-input .wrap input:focus{
    outline: none;
}

.conversation .message-input .wrap button{
    float: right;
    border: none;
    width: 50px;
    padding: 12px 0;
    cursor: pointer;
    background: #32455A;
    color: #fff;
}

.conversation .message-input .wrap button:hover{

    background: #435F7A;

}

.conversation .message-input .wrap button:focus{
    outline: none;
}