<div class="contenedor p-4">
  <div class="d-flex justify-content-between">
    <h3>Bonificaciones</h3>
    <button class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
      <i class="fas fa-plus"></i>
    </button>
  </div>
  <hr>
  <div>
    <div class="row">
      <ng-container *ngFor="let b of listBonifications">
        <div class="col-xl-3 col-md-4 col-sm-6 mb-3" *ngIf="b.company=== nameCompany">
          <div class="card">
            <div class="card-header" style="background: rgb(121, 5, 121); height: 50px;">
              <button (click)="deleteBonification(b)" id="btn-delete" class="btn mt-n3" title="Eliminar bonificación">
                <i class="fas fa-times text-white"></i>
              </button></div>
            <div class="card-body">
              <div class="cont-image rounded-circle" style="background: rgb(9, 11, 172); width: 80px; height: 80px;">
                <img src="../../../../assets/icon/trophy1.png" style="width: 70%; height: 70%;" alt="">
              </div>
              <p class="mt-3"><strong>Incentivo: </strong> {{ b.incentive }} </p>
              <p><strong>Costo: </strong> {{ b.cost }} puntos </p>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Bonificación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #form="ngForm" (ngSubmit)="createBonification(form)">
        <input type="hidden" name="idBonification" #idBonification="ngModel"
          [(ngModel)]="service.selectedBonification.idBonification">
        <div class="modal-body">
          <div class="form-group">
            <label for="incentive">Incentivo:</label>
            <input type="text" id="incentive" name="incentive" #incentive="ngModel"
              [(ngModel)]="service.selectedBonification.incentive" class="form-control">
          </div>
          <div class="form-group">
            <label for="cost">Costo (En puntos):</label>
            <input type="number" id="cost" name="cost" #cost="ngModel" [(ngModel)]="service.selectedBonification.cost"
              class="form-control">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary">Agregar</button>
        </div>
      </form>
    </div>
  </div>
</div>