<div class="contenedor p-4">
    <h3>Empresas</h3>
    <div class="list-companys mt-3">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th>Correo</th>
                    <th>Tipo de empresa</th>
                    <th>Estado</th>
                    <th>Tiempo restante</th>
                    <th>Codigo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Condor Labs</td>
                    <td>Bocagrande cll-12</td>
                    <td>condorlabs@gmail.com</td>
                    <td>Mediana</td>
                    <td>Activada</td>
                    <td>12 dias</td>
                    <td>ad46sdgd66</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>