<div class="contenedor p-4">
    <h3>Empresas</h3>
    <div class="list-companys mt-3">
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th>Correo</th>
                    <th>Tipo de empresa</th>
                    <th>Telefono</th>
                    <th>Estado</th>
                    <th>Tiempo restante</th>
                    <th>Codigo</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Condor Labs</td>
                    <td>Bocagrande cll-12</td>
                    <td>condorlabs@gmail.com</td>
                    <td>Mediana</td>
                    <td>3102547852</td>
                    <td>Activada</td>
                    <td>12 dias</td>
                    <td>ad46sdgd66</td>
                    <td class="text-center">
                            <button style="background: transparent; border: none"><img src="../../../../assets/icon/edit.png" width="20" height="20" alt=""></button>
                    </td>
                </tr>
                <tr>
                    <td>Condor Labs</td>
                    <td>Bocagrande cll-12</td>
                    <td>condorlabs@gmail.com</td>
                    <td>Mediana</td>
                    <td>3102547852</td>
                    <td>Activada</td>
                    <td>12 dias</td>
                    <td>ad46sdgd66</td>
                    <td class="text-center">
                        <button style="background: transparent; border: none"><img src="../../../../assets/icon/edit.png" width="20" height="20" alt=""></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>