.style-none{
    list-style: none;
}

.menu-admin{
    width: 280px;
    height: 100vh;
    background-color: #2C3447;
    color: white;
    transition: transform 0.4s ease-in-out;
    transform: translateX(-100%);
}

.menu-activado{
    transform: translateX(0);
}

#link-notification, #link-messages-a{
    display: none;
}

i{
    font-size: 25px;
    color: rgb(90, 90, 90);
}

.info-personal{
    width: 100%; height: 190px;
background-image: url('../assets/img/bg-side1.jpg');
background-repeat: no-repeat;
background-size: cover;

}

.info-personal::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 190px;
    top: 0;
    left: 0;
    background-color: rgba(24, 131, 231, 0.8);
  }

.info-personal img{
    position: absolute;
    margin-top: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}

.info-personal p.text-center{
    position: absolute;
    margin-top: 120px;
   /* transform: translate(-50%,-50%);*/
    width: 100%;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.info-personal span.text-center{
    position: absolute;
    margin-top: 147px;
   /* transform: translate(-50%,-50%);*/
    width: 100%;
    color: white;
    font-size: 17px;
}

.menu-items ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-items ul li{
    list-style: none;

}

.menu-items ul li a{

    padding: 15px;
}

.menu-items ul li:hover{
    background-color: rgba(255, 255, 255, .1);
}

.menu-items ul li a{
    color: white;
    text-decoration: none;
    
}

.header-sm{
    width: 100%;
    display: inline-flex;
}

.header-sm #notification{
float: right;
width: 20%;
}

.header-sm #cargo{
    float: right;
    width: 50%;
}

.activado{
    display: block;
}
.desactivado{
    display: none;
}

#options-user{
    border-bottom: 0.5px solid rgba(200, 200, 200, .7);
}

#logout-user{
    border-top: 0.5px solid rgba(100, 100, 100, .9);
}

#options-user:hover ,#logout-user:hover {
    background-color: rgba(100, 100, 100, .1);
    cursor: pointer;
}

.content-icons-block{
    width: 100%;
}

.content-notifications{
    position: absolute;
    z-index: 20;
}

#menu-slide2{
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 0;
}

a.link-bg{
    border: 2px solid;
    border-radius: 20px;
    color: rgb(0, 0, 0);
}

a.link-bg:hover{
    background: rgba(0, 0, 0, .1);
}

.name-product{
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 2px;
}

.link-login{
    color: rgb(0, 0, 0);
}

.link-login:hover{
    color: rgb(12, 14, 173);
}

.slide-home{
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(193, 241, 255);
    z-index: 10;
    transition: transform 0.6s ease-in-out;
    transform: translateX(100%);
}

.slide-links{
    margin-top: 70px;
    padding: 0 30px;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.slide-links ul{
    margin: 0;
    padding: 0;
}

.slide-links ul li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.slide-links ul li a{
    display: block;
    padding: 10px;
}

.slide-active{
    transform: translateX(0);
}

#icon-home, #icon-homes{
    display: none;
}


@media screen and (max-width: 991px){

    .menu-admin,#content-icons,#content-iconss{
        width: 100%;
    }

    #notification-admin, #admin-messages{
        display: none;
    }

    #link-notification, #link-messages-a, #icon-home, #icon-homes{
        display: block;
    }

    #name-usere,#name-users, #nav-employe-brand,#nav-supervisor-brand{
        display: none;
    }

}