.contenedor{
    background-color: #eee;
    height: calc(100vh - 56px);
}

button{
    background: rgb(155, 19, 19);
    border: none;
    color: #fff;
    padding: 5px 15px;
    border-radius: 6px;
}

button:hover{
    background: rgb(235, 33, 33);
}