<div class="contenedor p-4">
    <h3>Subscritos</h3>
    <div class="mt-3 bg-white">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre</th>
                    <th class="text-center">Empresa</th>
                    <th class="text-center">Suscripción</th>
                    <th class="text-center">Vencimiento de suscripción</th>
                    <th class="text-center">Desactivar</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let a of listAdmines">
                    <tr *ngIf="a.state === 'Activo'">
                        <td>{{ a.name }} {{ a.lastName }}</td>
                        <td class="text-center">{{ a.nameCompany }}</td>
                        <td class="text-center">{{ a.subscriptionTime }} mes(es)</td>
                        <td class="text-center">{{ a.endSubscription }}</td>
                        <td class="text-center">
                            <button class="btn bg-transparent p-0" title="Desactivar cuenta">
                                <i class="fas fa-times text-danger h4"></i>
                            </button>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>