<div class="contenedor p-4">
  <div class="row h-100">
    <div class="col-lg-4 p-1 h-100">
      <div class="bg-white-transparent h-100 p-2">
        <h3>Pendientes</h3>
        <div class="tasks p-1">
          <div class="bg-white card mb-1" *ngFor="let t of listTasks">
            <div class="card-body">
              <div class="float-left text-truncate title-task">
                {{ t.title }}
              </div>
              <div class="float-right details-task">
                <button class="bg-transparent border-0 float-right" title="Ver detalles"><i
                    class="fas fa-eye"></i></button>
              </div>
            </div>
            <div class="card-footer">
              <div class="float-left text-muted" title="Fecha limite">
                {{ t.term }}
              </div>
              <div class="float-right text-center">
                <button class="mr-3 bg-transparent border-0" title="Editar tarea" data-toggle="modal" data-target="#modalEdit"><i
                    class="fas fa-pencil-alt"></i></button>
                <button class="bg-transparent border-0" (click)="deleteTask(t)" title="Eliminar tarea"><i class="fas fa-times"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 p-1 h-100">
      <div class="bg-white-transparent h-100 p-2">
        <h3>En proceso</h3>
        <div class="tasks p-1">
          <div class="bg-white card mb-1" *ngFor="let item of [1,1];let i=index">
            <div class="card-body">
              <div class="float-left text-truncate title-task">
                Arreglar esto porque se va a dañar
              </div>
              <div class="float-right details-task">
                <i class="fas fa-eye float-right" title="Ver detalles"></i>
              </div>
            </div>
            <div class="card-footer">
              <div class="float-left text-muted" title="Fecha limite">
                10/11/2019
              </div>
              <div class="float-right text-center">
                <button class="mr-3 bg-transparent border-0" title="Editar tarea"><i
                    class="fas fa-pencil-alt"></i></button>
                <button class="bg-transparent border-0 delete-task" title="Eliminar tarea"><i
                    class="fas fa-times"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-2 p-1 h-100">
      <div class="bg-white-transparent h-100 p-2">
        <h3>Finalizadas</h3>
        <div class="tasks p-1">
          <div class="bg-white card mb-1" *ngFor="let item of [1];let i=index">
            <div class="card-body">
              <div class="float-left text-truncate title-task">
                Arreglar esto porque se va a dañar
              </div>
              <div class="float-right details-task">
                <i class="fas fa-eye float-right" title="Ver detalles"></i>
              </div>
            </div>
            <div class="card-footer">
              <div class="float-left text-muted" title="Fecha limite">
                10/11/2019
              </div>
              <div class="float-right text-center">
                <button class="mr-3 bg-transparent border-0" title="Editar tarea"><i
                    class="fas fa-pencil-alt"></i></button>
                <button class="bg-transparent border-0 delete-task" title="Eliminar tarea"><i
                    class="fas fa-times"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL EDIT -->
<div class="modal fade bd-example-modal-lg" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modificar Tarea</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="card-body">
                <form #form="ngForm" (ngSubmit)="createTask(form)">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="task">Tarea:</label>
                        <input type="text" id="task" name="title" #title="ngModel"
                            [(ngModel)]="service.selectedTask.title" placeholder="Escriba una tarea..." class="form-control">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="descri">Descripción:</label>
                        <textarea id="descri" name="description" #description="ngModel"
                            [(ngModel)]="service.selectedTask.description" placeholder="Escriba una descripción de la tarea..." class="form-control" rows="3"></textarea>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="department">Departamento:</label>
                        <select class="form-control" id="department" name="department" #department="ngModel"
                            [(ngModel)]="service.selectedTask.department">
                          <option></option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="task">Asignar a:</label>
                        <select class="form-control" name="assigned" #assigned="ngModel"
                            [(ngModel)]="service.selectedTask.assigned">
                          <option></option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="date">Fecha:</label>
                        <input type="text" id="date" value="17-10-2019"  name="changeDate" #changeDate="ngModel"
                            [(ngModel)]="service.selectedTask.changeDate" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="task">Plazo:</label>
                        <input type="date" class="form-control" name="term" #term="ngModel"
                            [(ngModel)]="service.selectedTask.term">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="state">Estado:</label>
                        <input type="text" id="state" value="Por hacer" name="stateTask" #stateTask="ngModel"
                            [(ngModel)]="service.selectedTask.stateTask" class="form-control">
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                  <button class="btn btn-secondary">Modificar</button>
                  <button class="btn btn-danger" data-dismiss="modal">Cancelar</button>
              </div>
        </div>
    </div>
</div>
