<div class="contenedor p-4">
	<h3>Configuración del Perfil</h3>
	<div class="row mt-3">
        <div class="col-md-12">
            <div class="bg-white p-3 shadow">
            	<form>
            		<div class="row">
            			<div class="col-md-6">
			<div class="form-group">
				<label for="name">Nombre</label>
				<input type="text" id="name" class="form-control" value="Luis Alberto Gomez">
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="document">Nro. Documento</label>
				<input type="text" id="document" class="form-control" value="1002244432">
			</div>
		</div>
		<div class="col-md-12">
			<div class="form-group">
				<label for="mail">Correo Electronico</label>
				<input type="email" id="mail" class="form-control" value="luisgomez24g@gmail.com">
			</div>
		</div>
            		</div>
            	</form>
            </div>
        </div>
    </div>
</div>