.contenedor{
    background-color: #eee;
    background-attachment: fixed;
    height: calc(100vh - 56px);
    overflow-y: scroll;
    overflow-x: hidden;
}

.contenedor::-webkit-scrollbar{
    width: 8px;
    background: transparent;
}

.contenedor::-webkit-scrollbar-thumb{
  background-color: #797979;
}


.cont-image{
    margin-left: 20px;
    width: 100px;
    height: 100px;
}

input{
    box-shadow: none;
}

span.task{
    margin-top: 85px;
}

.cont-image img{
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(-50%,-50%);
    width: 70%;
    height: 70%;
}

.body{
    height: calc(100% - 206px);
}

.body{
    height: calc(100% - 170px);
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  .body::-webkit-scrollbar{
      width: 5px;
      background: transparent;
  }
  
  .body::-webkit-scrollbar-thumb{
    background-color: #797979;
    border-radius: 20px;
  }