<div class="contenedor p-4">
    <div class="container">
        <h3 class="text-center">Enviar nueva solicitud</h3>
        <div class="card mt-3 shadow-sm">
            <form #form="ngForm" (ngSubmit)="createRequest(form)">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="type">Tipo:</label>
                                <select class="form-control" id="type" name="type" #type="ngModel"
                                    [(ngModel)]="service.selectedRequest.type">
                                    <option>Permiso</option>
                                    <option>Queja / Reclamo</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="task">Asunto:</label>
                                <textarea id="descri" name="description" #description="ngModel"
                                    [(ngModel)]="service.selectedRequest.description"
                                    placeholder="Escriba una descripción de la solicitud..." class="form-control"
                                    rows="3"></textarea>
                            </div>
                        </div>
                        <input type="hidden" id="date" readonly name="dateRequest" #dateRequest="ngModel"
                            [(ngModel)]="service.selectedRequest.dateRequest" class="form-control">

                        <input type="hidden" id="state" readonly name="stateRequest" #stateRequest="ngModel"
                            [(ngModel)]="service.selectedRequest.stateRequest" class="form-control">

                    </div>

                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-secondary mr-2"><i
                            class="fas fa-paper-plane mr-2"></i><span>Enviar</span></button>
                    <button (click)="back()" class="btn btn-danger">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>