<div class="contenedor p-4">
    <h3>Empleados</h3>
    <div class="row mt-3 max-he">
        <div class="col-md-3 mb-3">
            <button class="btn btn-success" data-toggle="modal" data-target="#modal">
                <i class="fas fa-plus mr-2"></i><span>Añadir</span>
            </button>
            <hr>
            <div class="form-group">
                <label for="filter">Filtrar por departamento</label>
                <select class="form-control" id="filter">
                    <ng-container *ngFor="let d of departments">
                        <option *ngIf="d.company=== company" value="{{ d.name }}">{{ d.name }}</option>
                    </ng-container>
                </select>
            </div>
        </div>
        <div class="col-md-9 max-he">
            <div class="card shadow bg-white p-2 max-he list-employees">
                <div class="row">
                    <ng-container *ngFor="let emp of listEmployees">
                        <div class="col-sm-6 col-12 col-lg-4 p-4" *ngIf="emp.nameCompany=== company">
                            <div class="px-4">
                                <div class="card card-employee">
                                    <img class="card-img-top" src="../../../../assets/img/foto-default.png"
                                        alt="Card image" style="width:100%">
                                    <div class="card-body">
                                        <h4 class="card-title">{{ emp.name }} {{ emp.lastName }}</h4>
                                        <p class="card-text">
                                            <strong>Puntos: </strong><span class="mr-1">{{ emp.points }}</span><i
                                                class="fas fa-star"></i>
                                        </p>
                                        <button (click)="viewProfile(emp._id)" class="btn btn-primary text-white">Ver perfil</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </ng-container>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- MODAL -->
<div class="modal fade bd-example-modal-lg" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Datos del empleado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="Form" (ngSubmit)="createEmployee()">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">Nombre:</label>
                                <input type="text" id="name" formControlName="name" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="lastName">Apellido:</label>
                                <input type="text" id="lastName" formControlName="lastName" class="form-control"
                                    required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="numDocument">Nro. Documento:</label>
                                <input type="text" id="numDocument" formControlName="numDocument" class="form-control"
                                    required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="phone">Telefono:</label>
                                <input type="text" id="phone" formControlName="phone" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="mail">Correo electronico:</label>
                                <input type="email" id="mail" formControlName="email" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="department">Departamento:</label>
                                <select class="form-control" id="department" formControlName="departament">
                                    <ng-container *ngFor="let d of departments">
                                        <option *ngIf="d.company=== company" value="{{ d.idDepartment }}">{{ d.name }}
                                        </option>
                                    </ng-container>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="salary">Salario:</label>
                                <input type="text" id="salary" formControlName="salary" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="position">Posición:</label>
                                <input type="text" id="position" formControlName="position" class="form-control"
                                    required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="user">Usuario:</label>
                                <input type="text" id="user" formControlName="userName" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="pass">Contraseña:</label>
                                <input type="password" id="pass" formControlName="password" class="form-control"
                                    required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="rol">Rol:</label>
                                <select id="rol" formControlName="role" class="form-control">
                                    <option value="Empleado">Empleado</option>
                                    <option value="Supervisor">Supervisor</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-secondary">Registrar</button>
                    <button class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>