.contenedor{
    background-color: #eee;
    background-attachment: fixed;
    height: calc(100vh - 56px);
    overflow-y: scroll;
    overflow-x: hidden;
}

.contenedor::-webkit-scrollbar{
    width: 8px;
    background: transparent;
}

.contenedor::-webkit-scrollbar-thumb{
  background-color: #797979;
}

.max-he{
    height: calc(100vh - 153px);;
}

.list-employees{
    height: calc(100% - 56px);
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  .list-employees::-webkit-scrollbar{
      width: 5px;
      background: transparent;
  }
  
  .list-employees::-webkit-scrollbar-thumb{
    background-color: #797979;
    border-radius: 20px;
  }

.profile-emplo{
    cursor: pointer;
    color: #000;
    text-decoration: none;
}

.profile-emplo:hover{
    color: rgb(11, 95, 221);
}

td{
    line-height: 35px;
}

.fa-star{
    color: rgb(201, 201, 15);
}

.card-img-top{
    height: 250px;
}