<div class="list-notifications">
    <div class="notification p-2 d-flex border-notification">
        <div>
            <img class="mt-2 rounded-circle" src="../../../../assets/img/pachera.jpg" width="40" height="40">
        </div>
        <div class="ml-3">
            <p class="text-muted margin-not" style="font-size: 13px">12/11/2019 12:12 p.m</p>
            <p class="margin-not"><strong>Pachera Meza</strong> ha solicitado un permiso el dia 12/11/2019</p>
        </div>
    </div>
    <div class="notification p-2 d-flex border-notification">
        <div>
            <img class="mt-2 rounded-circle" src="../../../../assets/img/pachera.jpg" width="40" height="40">
        </div>
        <div class="ml-3">
            <p class="text-muted margin-not" style="font-size: 13px">12/11/2019 12:12 p.m</p>
            <p class="margin-not"><strong>Pachera Meza</strong> ha solicitado un permiso el dia 12/11/2019</p>
        </div>
    </div>
    <div class="notification p-2 d-flex border-notification">
        <div>
            <img class="mt-2 rounded-circle" src="../../../../assets/img/Diana.jpg" width="40" height="40">
        </div>
        <div class="ml-3">
            <p class="text-muted margin-not" style="font-size: 13px">12/11/2019 12:12 p.m</p>
            <p class="margin-not"><strong>Diana Perez</strong> está incorme con el empleado Pachera Meza</p>
        </div>
    </div>
    <div class="notification p-2 d-flex border-notification">
        <div>
            <img class="mt-2 rounded-circle" src="../../../../assets/img/foto-default.png" width="40" height="40">
        </div>
        <div class="ml-3">
            <p class="text-muted margin-not" style="font-size: 13px">12/11/2019 12:12 p.m</p>
            <p class="margin-not"><strong>PecheraPORT</strong> está preguntando porque lo abandonaron</p>
        </div>
    </div>
</div>