<div class="limiter">
    <div class="container-login100" style="background-image: url('../assets/img/bg-01.jpg');">
        <div class="wrap-login100">
            <form class="login100-form validate-form"
            #admineForm="ngForm" (ngSubmit)="signUp(admineForm)" autocomplete="off">
                <span class="login100-form-title mt-4 mb-5">
                    Crea tu cuenta
                </span>
                <div class="row">
                  <div class="col-md-6">
                    <div class="align-input px-2">
                      <div class="wrap-input100 validate-input" data-validate = "Ingrese su nombre">
                          <input class="input100" type="text" name="name" #name="ngModel" 
                            [(ngModel)]="admineService.selectedAdmine.name"
                             placeholder="nombre" required>
                          <span class="focus-input100"></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="align-input px-2">
                      <div class="wrap-input100 validate-input" data-validate="Ingrese sus apellidos">
                          <input class="input100"  type="text" name="lastName" #lastName="ngModel" 
                            [(ngModel)]="admineService.selectedAdmine.lastName"
                             placeholder="apellido" required>
                          <span class="focus-input100"></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-7">
                    <div class="align-input px-2">
                      <div class="wrap-input100 validate-input" data-validate="Ingrese su nro. de documento">
                          <input class="input100" type="text" name="numDocument" #numDocument="ngModel" 
                            [(ngModel)]="admineService.selectedAdmine.numDocument"
                             placeholder="nro.de documento" required>
                          <span class="focus-input100"></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="align-input px-2">
                      <div class="wrap-input100 validate-input" data-validate = "Ingrese su numero telefonico">
                          <input class="input100" type="text" name="phone" #phone="ngModel" 
                            [(ngModel)]="admineService.selectedAdmine.phone"
                             placeholder="telefono" required>
                          <span class="focus-input100"></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="align-input px-2">
                      <div class="wrap-input100 validate-input" data-validate="Ingrese su correo">
                          <input class="input100" type="email" name="email" #email="ngModel" 
                            [(ngModel)]="admineService.selectedAdmine.email"
                             placeholder="correo" required>
                          <span class="focus-input100"></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="align-input px-2">
                      <div class="wrap-input100 validate-input" data-validate="Ingrese su empresa">
                          <input class="input100" type="text" name="nameCompany" #nameCompany="ngModel" 
                            [(ngModel)]="admineService.selectedAdmine.nameCompany"
                             placeholder="empresa" required>
                          <span class="focus-input100"></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="align-input px-2">
                      <div class="wrap-input100 validate-input" data-validate = "Ingrese su usuario">
                          <input class="input100" type="text" name="userName" #userName="ngModel" 
                            [(ngModel)]="admineService.selectedAdmine.userName"
                             placeholder="usuario" required>
                          <span class="focus-input100"></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="align-input px-2">
                      <div class="wrap-input100 validate-input" data-validate="Ingrese su contraseña">
                          <input  class="input100" type="password" name="password" #password="ngModel" 
                            [(ngModel)]="admineService.selectedAdmine.password"
                             placeholder="contraseña" required>
                          <span class="focus-input100"></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="container-login100-form-btn">
                    <button type="submit" class="login100-form-btn">
                        Registrarse
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>
