<div class="limiter">
    <div class="container-login100" style="background-image: url('../assets/img/bg-01.jpg');">
        <div class="wrap-login100">
            <form class="login100-form validate-form" autocomplete="off">
                <span class="login100-form-title mt-4 mb-5">
                    Crea tu cuenta
                </span>
                <div class="row">
                  <div class="col-md-6">
                    <div class="align-input px-2">
                      <div class="wrap-input100 validate-input" data-validate = "Ingrese su nombre">
                          <input class="input100" type="text" name="name" placeholder="Nombre">
                          <span class="focus-input100"></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="align-input px-2">
                      <div class="wrap-input100 validate-input" data-validate="Ingrese sus apellidos">
                          <input class="input100" type="text" name="lastnames" placeholder="Apellidos">
                          <span class="focus-input100"></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-7">
                    <div class="align-input px-2">
                      <div class="wrap-input100 validate-input" data-validate="Ingrese su nro. de documento">
                          <input class="input100" type="text" name="number" placeholder="Nro. de documento">
                          <span class="focus-input100"></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="align-input px-2">
                      <div class="wrap-input100 validate-input" data-validate = "Ingrese su numero telefonico">
                          <input class="input100" type="text" name="phone" placeholder="Telefono">
                          <span class="focus-input100"></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="align-input px-2">
                      <div class="wrap-input100 validate-input" data-validate="Ingrese su correo">
                          <input class="input100" type="email" name="mail" placeholder="Correo electronico">
                          <span class="focus-input100"></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="align-input px-2">
                      <div class="wrap-input100 validate-input" data-validate="Ingrese su empresa">
                          <input class="input100" type="text" name="company" placeholder="Empresa">
                          <span class="focus-input100"></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="align-input px-2">
                      <div class="wrap-input100 validate-input" data-validate = "Ingrese su usuario">
                          <input class="input100" type="text" name="user" placeholder="Usuario">
                          <span class="focus-input100"></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="align-input px-2">
                      <div class="wrap-input100 validate-input" data-validate="Ingrese su contraseña">
                          <input class="input100" type="password" name="pass" placeholder="Contraseña">
                          <span class="focus-input100"></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="container-login100-form-btn">
                    <a class="login100-form-btn" routerLink="/admin/home">
                        Registrarse
                    </a>
                </div>

            </form>
        </div>
    </div>
</div>
