<div class="contenedor">
    <div class="side-panel">
        <div class="select-company p-3">
            <div class="form-group">
                <input type="text" id="search" class="form-control" placeholder="Buscar contacto...">
            </div>
        </div>
        <div class="contacts">
            <ul>
                <li class="contact">
                    <div class="wrap">
                        <img src="../../../../assets/img/Diana.jpg" width="45" height="45" alt="">
                        <div class="meta">
                            <p class="name">Diana Carolina Perez</p>
                        </div>
                    </div>
                </li>
                <li class="contact">
                    <div class="wrap">
                        <img src="../../../../assets/img/pachera.jpg" width="45" height="45" alt="">
                        <div class="meta">
                            <p class="name">Pachera Meza de los Angeles</p>
                        </div>
                    </div>
                </li>
                <li class="contact">
                    <div class="wrap">
                        <img src="../../../../assets/img/foto-default.png" width="45" height="45" alt="">
                        <div class="meta">
                            <p class="name">Patricia Teheran</p>
                        </div>
                    </div>
                </li>
                <li class="contact">
                    <div class="wrap">
                        <img src="../../../../assets/img/foto-default.png" width="45" height="45" alt="">
                        <div class="meta">
                            <p class="name">Carlos Vives</p>
                        </div>
                    </div>
                </li>
                <li class="contact">
                    <div class="wrap">
                        <img src="../../../../assets/img/Diana.jpg" width="45" height="45" alt="">
                        <div class="meta">
                            <p class="name">Greeicy Rendon</p>
                        </div>
                    </div>
                </li>
                <li class="contact">
                    <div class="wrap">
                        <img src="../../../../assets/img/pachera.jpg" width="45" height="45" alt="">
                        <div class="meta">
                            <p class="name">Pambele de los Rios</p>
                        </div>
                    </div>
                </li>
                <li class="contact">
                    <div class="wrap">
                        <img src="../../../../assets/img/pachera.jpg" width="45" height="45" alt="">
                        <div class="meta">
                            <p class="name">Marc Anthony</p>
                        </div>
                    </div>
                </li>
                <li class="contact">
                    <div class="wrap">
                        <img src="../../../../assets/img/Diana.jpg" width="45" height="45" alt="">
                        <div class="meta">
                            <p class="name">Amparo Grisales</p>
                        </div>
                    </div>
                </li>
                <li class="contact">
                    <div class="wrap">
                        <img src="../../../../assets/img/pachera.jpg" width="45" height="45" alt="">
                        <div class="meta">
                            <p class="name">Gordito Araujo</p>
                        </div>
                    </div>
                </li>
                <li class="contact">
                    <div class="wrap">
                        <img src="../../../../assets/img/foto-default.png" width="45" height="45" alt="">
                        <div class="meta">
                            <p class="name">PecheraPORT</p>
                        </div>
                    </div>
                </li>
                <li class="contact">
                    <div class="wrap">
                        <img src="../../../../assets/img/foto-default.png" width="45" height="45" alt="">
                        <div class="meta">
                            <p class="name">Luis Alberto Gomez</p>
                        </div>
                    </div>
                </li>
                <li class="contact">
                    <div class="wrap">
                        <img src="../../../../assets/img/pachera.jpg" width="45" height="45" alt="">
                        <div class="meta">
                            <p class="name">Joridz Antonio</p>
                        </div>
                    </div>
                </li>
                <li class="contact">
                    <div class="wrap">
                        <img src="../../../../assets/img/Diana.jpg" width="45" height="45" alt="">
                        <div class="meta">
                            <p class="name">Batty Brujo Pechera</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="conversation">
        <div class="contact-profile bg-info">
            <img src="../../../../assets/img/Diana.jpg" width="40" height="40" alt="">
            <p class="text-white">Diana Carolina Perez</p>
        </div>
        <div class="messages">
            <ul>
                <li class="sent">
                    <img src="../../../../assets/img/Diana.jpg" width="30" height="30" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque nostrum molestiae deserunt a
                        facere!</p>
                </li>
                <li class="replies">
                    <img src="../../../../assets/img/foto-default.png" width="30" height="30" alt="">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus a inventore facilis, eveniet
                        quos sint adipisci dignissimos consequatur esse delectus!</p>
                </li>
                <li class="replies">
                    <img src="../../../../assets/img/foto-default.png" width="26" height="26" alt="">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt voluptas recusandae aperiam
                        nostrum nulla aspernatur.</p>
                </li>
                <li class="sent">
                    <img src="../../../../assets/img/Diana.jpg" width="30" height="30" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque nostrum molestiae deserunt a
                        facere!</p>
                </li>
                <li class="sent">
                    <img src="../../../../assets/img/Diana.jpg" width="30" height="30" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque nostrum molestiae deserunt a
                        facere!</p>
                </li>
                <li class="sent">
                    <img src="../../../../assets/img/Diana.jpg" width="30" height="30" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque nostrum molestiae deserunt a
                        facere!</p>
                </li>
            </ul>
        </div>
        <div class="message-input">
            <div class="wrap">
                <input type="text" placeholder="Escribe un mensaje...">
                <button class="submit"><i class="fas fa-paper-plane"></i></button>
            </div>
        </div>
    </div>

</div>