<div style="overflow-x: hidden;">
	<div class="img-presentation" style="background-image: url('../../../assets/img/bg-02.jpg');">
		<div class="content text-center">
			<h2 style="font-size: 50px;">Bienvenido a EnJob</h2>
			<h5>La mejor aplicación para mejorar el rendimiento de su negocio</h5>
		</div>
	</div>
	<div class="enjob my-5">
		<div class="row">
			<div class="col-md-4">
				<div class="logo-enjob text-center">
					<img src="../../../assets/img/negro.png" width="200" height="200">
				</div>
			</div>
			<div class="col-md-8">
				<div class="p-2">
					<h3>Que es EnJob?</h3>
					<p style="margin: 0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
			</div>
		</div>
	</div>
	<footer class="precio p-4 text-white mt-2" style="background-color: #000">
		<p class="h2" style="margin: 0">Contactenos</p>
		<div class="row mt-3">
			<div class="col-md-6">
				<div class="text-white">
					<ul style="list-style: none; margin: 0; padding: 0; font-size: 18px;">
						<li class="p-2"><i class="fas fa-mobile-alt" style="width: 30px;"></i><span>312-254-2547</span>
						</li>
						<li class="p-2"><i class="fas fa-phone-alt" style="width: 30px;"></i><span>650-25-25</span></li>
						<li class="p-2"><i class="fas fa-envelope"
								style="width: 30px;"></i><span>enjobs@gmail.com</span></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
</div>