<div style="overflow-x: hidden;">
	<div class="img-presentation" style="background-image: url('../../../assets/img/bg-02.jpg');">
		<div class="content text-center">
			<h2 style="font-size: 50px;">Bienvenido a EnJob</h2>
			<h5 class="mt-1">La mejor aplicación para mejorar el rendimiento de su negocio</h5>
		</div>
	</div>
	<div class="enjob my-5">
		<div class="row">
			<div class="col-md-4 mb-2">
				<div class="logo-enjob text-center">
					<img src="../../../assets/img/negro.png" class="mt-2" width="200" height="200">
				</div>
			</div>
			<div class="col-md-8">
				<div class="p-2">
					<h3>Que es EnJob?</h3>
					<p style="margin: 0">Enjob es una aplicación web que busca promover la satisfacción de los empleados a través del mejoramiento del clima laboral a través de la
					implementación de estrategias y herramientas que permitan lograr este
					objetivo en las empresas que se utilice este software, entre las
					funcionalidades que ofrecen EnJob tenemos que ofrece un tablero Kanban
					para la visualización de las tareas asignadas en su estado actual y el
					responsable de llevarlo a cabo, un chat interno para la comunicación entre
					los empleados y el encargado de recursos humanos, un sistema de
					notificaciones para presentar alguna queja o mensaje a el departamento de
					recursos humanos, sistema de logros a través de puntos para favorecer la
					incentivación para con los empleados y control estadístico de los
					empleados por parte del departamento de recursos humanos para
					visualizar de manera eficaz el desempeño de los empleados a través del
					tiempo.</p>
				</div>
			</div>
		</div>
	</div>
	<footer class="precio p-4 text-white mt-2" style="background-color: #000">
		<p class="h2" style="margin: 0">Contactenos</p>
		<div class="row mt-3">
			<div class="col-md-6">
				<div class="text-white">
					<ul style="list-style: none; margin: 0; padding: 0; font-size: 18px;">
						<li class="p-2"><i class="fas fa-mobile-alt" style="width: 30px;"></i><span>312-254-2547</span>
						</li>
						<li class="p-2"><i class="fas fa-phone-alt" style="width: 30px;"></i><span>650-25-25</span></li>
						<li class="p-2"><i class="fas fa-envelope"
								style="width: 30px;"></i><span>enjobs@gmail.com</span></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
</div>