<div style="border-bottom: 0.5px solid rgba(200, 200, 200, .7)" class="py-2">
  <img class="shadow-sm" src="../../../../assets/img/foto-default.png" width="65" height="65"
    style="border-radius: 50%;margin-left: 50%; transform: translateX(-50%);" alt="">
  <p class="margin-not mt-2 mb-1 text-center">{{ name }} {{ lastName }}</p>
</div>
<a class="text-decoration-none" routerLink="/employee/profile">
  <div id="options-user" class="d-flex px-2">
    <img src="../../../../assets/icon/man2.png" width="20" height="20" class="mt-2" alt="">
    <p class="margin-not my-2 ml-3 text-body">Ver perfil</p>
  </div>
</a>
<div id="options-user" class="d-flex px-2">
  <img src="../../../../assets/icon/config.png" width="20" height="20" class="mt-2" alt="">
  <p class="margin-not my-2 ml-3">Editar perfil</p>
</div>
<div id="options-user" class="d-flex px-2">
  <img src="../../../../assets/icon/pass.png" width="20" height="20" class="mt-2" alt="">
  <p class="margin-not my-2 ml-3">Cambiar contraseña</p>
</div>
<div id="logout-user" class="d-flex px-2">
  <button class="btn d-flex p-0" (click)="logOut()">
    <img src="../../../../assets/icon/logout.png" width="20" height="20" class="mt-2" alt="">
    <p class="margin-not my-2 ml-3">Cerrar sesión</p>
  </button>
</div>