<div class="contenedor p-4">
    <div class="d-flex justify-content-between">
        <h3>Solicitudes de los empleados</h3>
    </div>
    <hr>
    <div class="bg-white">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Tipo</th>
                    <th>Asunto</th>
                    <th class="text-center">Fecha</th>
                    <th class="text-center">Detalles</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let r of listRequests">
                    <td>{{ r.type }}</td>
                    <td>{{ r.affair }}</td>
                    <td class="text-center">{{ r.submitDate }}</td>
                    <td class="text-center">
                        <button class="btn bg-transparent p-0" data-toggle="modal" data-target="#modal" title="Ver detalles de la solicitud" (click)="viewRequest(r)">
                            <i class="fas fa-eye text-primary h4"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- MODAL -->
<div class="modal fade bd-example-modal-lg" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detalles de la solicitud</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><strong>De: </strong>{{ nameEmployee }}</p>
                <p><strong>Para: </strong>{{ nameAdmin }}</p>
                <p><strong>Asunto:</strong></p>
                <p>{{ service.selectedRequest.affair }}</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>