<div class="contenedor p-4">
    <h3>Departamentos</h3>
    <div class="row mt-3">
        <div class="col-md-5 mb-2">
            <div class="bg-white p-3 shadow">
                <form #form="ngForm" (ngSubmit)="createDepartment(form)">
                  <input type="hidden" name="_id" #_id = "ngModel"[(ngModel)]="service.selectedDepartment.idDepartment">
                    <div class="form-group">
                        <label for="name">Nombre</label>
                        <input type="text" id="name" name="name" #name="ngModel"
                            [(ngModel)]="service.selectedDepartment.name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="company">Empresa</label>
                        <input type="text" id="company" name="company" #company="ngModel"
                            [(ngModel)]="service.selectedDepartment.company" class="form-control">
                    </div>
                    <hr>
                    <div class="ml-auto">
                        <button type="reset" class="btn btn-danger mr-2">Cancelar</button>
                        <button type="submit" class="btn btn-secondary">Registrar</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-7">
            <div class="bg-white p-3 shadow">
                <table class="table table-hover table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>Nombre</th>
                            <th>Empresa</th>
                            <th class="text-center">Editar</th>
                            <th class="text-center">Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let d of listDepartments">
                            <td>{{ d.name }}</td>
                            <td>{{ d.company }}</td>
                            <td class="text-center">
                                <button title="Editar empleado" class="bg-transparent border-0"><i
                                        class="fas fa-edit text-primary h4"></i></button>
                            </td>
                            <td class="text-center">
                                <button title="Eliminar empleado" (click)="deleteDepartment(d)" class="bg-transparent border-0"><i
                                        class="fas fa-times text-danger h4"></i></button>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
