<div style="border-bottom: 0.5px solid rgba(200, 200, 200, .7)" class="py-2">
  <img class="shadow-sm" src="../assets/img/foto-default.png" width="65" height="65"
    style="border-radius: 50%;margin-left: 50%; transform: translateX(-50%);" alt="">
  <p style="margin:0" class="mt-2 mb-1 text-center">Luis Alberto Gomez</p>
</div>
<div id="options-user" class="d-flex px-2">
  <img src="../../../../assets/icon/config.png" width="20" height="20" class="mt-2" alt="">
  <p style="margin:0" class="my-2 ml-3">Editar perfil</p>
</div>
<div id="options-user" class="d-flex px-2">
  <img src="../../../../assets/icon/pass.png" width="20" height="20" class="mt-2" alt="">
  <p style="margin:0" class="my-2 ml-3">Cambiar contraseña</p>
</div>
<div id="logout-user" class="d-flex px-2">
  <img src="../../../../assets/icon/logout.png" width="20" height="20" class="mt-2" alt="">
  <p style="margin:0" class="my-2 ml-3">Cerrar sesión</p>
</div>
