.contenedor{
    background-color: #eee;
    background-attachment: fixed;
    height: calc(100vh - 56px);
    overflow-y: scroll;
    overflow-x: hidden;
}

.contenedor::-webkit-scrollbar{
    width: 8px;
    background: transparent;
}

.contenedor::-webkit-scrollbar-thumb{
  background-color: #797979;
}

.list-employee-actions{
    height: calc(100% - 56px);
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  .list-employee-actions::-webkit-scrollbar{
      width: 5px;
      background: transparent;
  }
  
  .list-employee-actions::-webkit-scrollbar-thumb{
    background-color: #797979;
    border-radius: 20px;
  }

 .profile-body{
    height: calc(100% - 120px);
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  .profile-body::-webkit-scrollbar{
      width: 5px;
      background: transparent;
  }
  
  .profile-body::-webkit-scrollbar-thumb{
    background-color: #797979;
    border-radius: 20px;
  }

.margin-not{
    margin: 0;
}

.edit-btn{
	position: absolute;
	right:0;
}

.hovereffect{
  width: 90px;
  height: 90px;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}
.hovereffect .overlay {
width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.hovereffect img{
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    -webkit-transition: all .4s linear;
    transition: all .4s linear;
  }
    .hovereffect:hover img{
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  .hovereffect:hover .overlay{
    opacity: 1;
    filter: alpha(opacity=100);
  }