<div class="contenedor p-4">
    <div class="row h-100">
        <div class="col-lg-3 d-flex justify-content-center mb-2 h-100">
            <div class="bg-white-transparent shadow h-100 p-2">
                <h3>Pendientes</h3>
                <div class="tasks p-1">
                    <div *ngFor="let t of listTasks">
                        <div class="bg-white card mb-3" *ngIf="t.stateTask==='Pendiente'" style="z-index: 100;">
                            <div class="card-body">
                                <div class="float-left text-truncate title-task">
                                    {{ t.title }}
                                </div>
                                <div class="float-right details-task">
                                    <button class="bg-transparent border-0 float-right" title="Ver detalles"><i
                                            class="fas fa-eye"></i></button>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="float-left text-muted" title="Fecha limite">
                                    {{ t.term }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 d-flex justify-content-center mb-2 h-100">
            <div class="bg-white-transparent shadow h-100 p-2">
                <h3>En proceso</h3>
                <div class="tasks p-1">
                    <div *ngFor="let t of listTasks">
                        <div class="bg-white card mb-1" *ngIf="t.stateTask==='En Proceso'" style="z-index: 100;">
                            <div class="card-body">
                                <div class="float-left text-truncate title-task">
                                    {{ t.title }}
                                </div>
                                <div class="float-right details-task">
                                    <button class="bg-transparent border-0 float-right" title="Ver detalles"><i
                                            class="fas fa-eye"></i></button>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="float-left text-muted" title="Fecha limite">
                                    {{ t.term }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 d-flex justify-content-center mb-2 h-100">
            <div class="bg-white-transparent shadow h-100 p-2">
                <h3>Revisión</h3>
                <div class="tasks p-1">
                    <div *ngFor="let t of listTasks">
                        <div class="bg-white card mb-1" *ngIf="t.stateTask==='Revision'" style="z-index: 100;">
                            <div class="card-body">
                                <div class="float-left text-truncate title-task">
                                    {{ t.title }}
                                </div>
                                <div class="float-right details-task">
                                    <button class="bg-transparent border-0 float-right" title="Ver detalles"><i
                                            class="fas fa-eye"></i></button>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="float-left text-muted" title="Fecha limite">
                                    {{ t.term }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-3 d-flex justify-content-center mb-2 h-100">
            <div class="bg-white-transparent shadow h-100 p-2">
                <h3>Finalizada</h3>
                <div class="tasks p-1">
                    <div *ngFor="let t of listTasks">
                        <div class="bg-white card mb-1" *ngIf="t.stateTask==='Finalizada'" style="z-index: 100;">
                            <div class="card-body">
                                <div class="float-left text-truncate title-task">
                                    {{ t.title }}
                                </div>
                                <div class="float-right details-task">
                                    <button class="bg-transparent border-0 float-right" title="Ver detalles"><i
                                            class="fas fa-eye"></i></button>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="float-left text-muted" title="Fecha limite">
                                    {{ t.term }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>