
*{
    font-family: 'Open Sans', sans-serif;
}

body::-webkit-scrollbar {
    background: transparent;
    width: 10px;
}

a{
    text-decoration: none;
}

body::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;

}

.content-configurations{
    width: 270px;
    right: 0;
    background-color: #fff;
    display: none;
}


.config-active{
    display: block;
}

.dropdown-toggle{
    outline: none;
    box-shadow: none;
}

.dropdown-toggle:focus, .dropdown-toggle:active:focus, .dropdown-toggle.active:focus{
    outline:none;
    box-shadow:none;
}

.dropdown-toggle::after {
    display:none;
}

.profile-config{
    width: 300px;
}

.content-notification{
    width: 350px;
}

.btn:focus, .btn:active:focus, .btn.active:focus{
    outline:none;
    box-shadow:none;
}

.ocultar{
    display: none;
}

.mostrar{
    display: block;
}

nav{
    height: 56px;
}

.fa-star{
    color: rgb(201, 201, 15);
}