<div class="contenedor p-4">
	<div class="container">
		<h3 class="text-center">Registrar nueva tarea</h3>
		<div class="card mt-2 shadow-sm">
			<form #form="ngForm" (ngSubmit)="createTask(form)">
				<div class="card-body">
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label for="task">Tarea:</label>
								<input type="text" id="task" name="title" #title="ngModel"
									[(ngModel)]="service.selectedTask.title" placeholder="Escriba una tarea..."
									class="form-control">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label for="descri">Descripción:</label>
								<textarea id="descri" name="description" #description="ngModel"
									[(ngModel)]="service.selectedTask.description"
									placeholder="Escriba una descripción de la tarea..." class="form-control"
									rows="3"></textarea>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="department">Departamento:</label>
								<select class="form-control" id="department" name="department" #department="ngModel"
									[(ngModel)]="service.selectedTask.department">
									<ng-container *ngFor="let d of departments">
										<option *ngIf="d.company=== company" value="{{ d.idDepartment }}">{{ d.name }}
										</option>
									</ng-container>
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="task">Asignar a:</label>
								<select class="form-control" name="assigned" #assigned="ngModel"
									[(ngModel)]="service.selectedTask.assigned">
									<ng-container *ngFor="let e of listEmployees">
										<ng-container *ngIf="e.nameCompany=== company">
											<option *ngIf="e.role=== 'Empleado'" value="{{ e._id }}">{{ e.name }}
												{{ e.lastName }}</option>
										</ng-container>
									</ng-container>
								</select>
							</div>
						</div>
						<div class="col-md-8">
							<div class="form-group">
								<label for="task">Plazo:</label>
								<input type="date" class="form-control" name="term" #term="ngModel"
									[(ngModel)]="service.selectedTask.term">
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label for="value">Valor (puntos):</label>
								<input type="number" class="form-control" name="value" #value="ngModel"
									[(ngModel)]="service.selectedTask.value">
							</div>
						</div>
						<input type="hidden" id="date" readonly name="changeDate" #changeDate="ngModel"
							[(ngModel)]="service.selectedTask.changeDate" class="form-control">

						<input type="hidden" id="state" readonly name="stateTask" #stateTask="ngModel"
							[(ngModel)]="service.selectedTask.stateTask" class="form-control">

					</div>

				</div>
				<div class="card-footer">
					<button type="submit" class="btn btn-secondary mr-2">Añadir</button>
					<a routerLink="/supervisor/home" class="btn btn-danger text-white">Cancelar</a>
				</div>
			</form>
		</div>
	</div>
</div>