<div class="contenedor animated zoomIn  p-4">
    <div class="row h-100">
        <div class="col-lg-5 mb-3 h-100">
            <div class="bg-white p-3 h-100">
                <div class="profile-header d-flex">
                    <div class="photo mr-3">
                        <img src="../../../../assets/img/foto-default.png" class="rounded-circle" width="90"
                            height="90">
                    </div>
                    <div class="name-user pt-3">
                        <h3 class="margin-not">{{ serviceEmplo.selectedEmployee.name }}
                            {{ serviceEmplo.selectedEmployee.lastName }}</h3>
                        <p class="margin-not text-muted">{{ serviceEmplo.selectedEmployee.userName }}</p>
                    </div>

                </div>
                <hr>
                <div class="profile-body">
                    <h2 class="text-center">Información</h2>
                    <div class="info-employee mt-4">
                        <p><strong>Nombre completo: </strong>{{ serviceEmplo.selectedEmployee.name }}
                            {{ serviceEmplo.selectedEmployee.lastName }}</p>
                        <p><strong>Nro. de documento: </strong>{{ serviceEmplo.selectedEmployee.numDocument }}</p>
                        <p><strong>Telefono: </strong>{{ serviceEmplo.selectedEmployee.phone }}</p>
                        <p><strong>Correo electronico: </strong>{{ serviceEmplo.selectedEmployee.email }}</p>
                        <p><strong>Usuario: </strong>{{ serviceEmplo.selectedEmployee.userName }}</p>
                        <p><strong>Empresa: </strong>{{ nameCompany }}</p>
                        <p><strong>Departamento: </strong>{{ nameDepartment }}</p>
                        <p><strong>Salario: </strong>$ {{ serviceEmplo.selectedEmployee.salary }}</p>
                        <p><strong>Posición: </strong>{{ serviceEmplo.selectedEmployee.position }}</p>
                        <p><strong>Puntos: </strong><span
                                class="mr-1">{{ serviceEmplo.selectedEmployee.points }}</span><i
                                class="fas fa-star"></i></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7 mb-3 bg-white h-100">

            <div class="bg-white p-3 h-100" id="tasks-performance">
                <h3 class="text-primary">Rendimiento</h3>
                <hr>
                <div *ngIf="chart" class="list-employee-actions">
                    <canvas id="canvas">
                        {{chart}}
                    </canvas>
                </div>
                <button class="btn btn-primary mb-3 mr-3" data-toggle="modal" data-target="#modal">Ver tareas</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL -->
<div class="modal fade bd-example-modal-xl" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Tareas de {{ serviceEmplo.selectedEmployee.name }}
                    {{ serviceEmplo.selectedEmployee.lastName }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="list-group list-group-flush list-employee-actions">
                    <ng-container *ngFor="let t of listTasks">
                        <li class="list-group-item" *ngIf="t.assigned === serviceEmplo.selectedEmployee._id">
                            <p class="text-muted margin-not" style="font-size: 13px">{{ t.changeDate }}</p>
                            <div class="d-flex justify-content-between">
                                <div>
                                    <p class="margin-not"><strong>{{ t.title }}:</strong> {{ t.description }}</p>
                                </div>
                                <span *ngIf="t.stateTask === 'Pendiente'" class="badge badge-danger">-</span>
                                <span *ngIf="t.stateTask === 'En Proceso'" class="badge badge-warning">-</span>
                                <span *ngIf="t.stateTask === 'Revision'" class="badge badge-primary">-</span>
                                <span *ngIf="t.stateTask === 'Finalizada'" class="badge badge-success">-</span>
                            </div>
                        </li>
                    </ng-container>
                </ul>
                <div class="d-flex justify-content-between mt-3 rounded p-2" style="background-color: rgb(230, 230, 230);">
                    <div><span class="badge badge-danger">-</span> Pendiente</div>
                    <div><span class="badge badge-warning">-</span> En proceso</div>
                    <div><span class="badge badge-primary">-</span> En revisión</div>
                    <div><span class="badge badge-success">-</span> Finalizada</div>
                </div>
                
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>